<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<h3>
  <%= @post.body %>
</h3>


<% if user_signed_in? %>
	<%= link_to 'Edit', edit_post_path(@post), class:'btn btn-secondary' %>
	<%= link_to 'Delete', @post, method: :delete, data: {confirm: 'Are you sure you want to delete this post?'}, class:'btn btn-secondary' %>
<% end %>
<%= link_to 'Back', root_path, class:'btn btn-primary' %>
<div class="pt-2">
	<%= social_share_button_tag(@post.title)%>
</div>
<div id="fb-root"></div>
<script type="text/javascript">
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/enUS/all.js#xfbml=l&appId=504323752911178";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-comments" data-href="<%= request.url %>" data-width="470" data-num-posts="3"></div>